{{#if dark}}
  <div class="result dark fadeIn animated">
{{else}}
      <div class="result light fadeIn animated">
{{/if}}
        <div class="title">{{title}}</div>
        <div class="repo">{{repo}}</div>
        <div class="language">{{language}}</div>
        <div class="labels">{{labels}}</div>
      </div>
